.container{
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
  }
ul,div{
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
