@font-face {
    font-family: 'pokemon';
    src: url('css/pokemon-font.woff');
    /* src: local('pokemon'), local('pokemon'), url('C:/Windows/Fonts/Pokemon.ttf') format('truetype'); */
 }

#form h3{
font-family: pokemon;
font-size: 20px;
margin-left: 10px;

}
.thumb{
    width: 130px;
    margin: 0px;
}
#dadosPokemon p,ul{
    font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pokebola-externa{
  margin-left: 60px;

}
.pokebola-externa,
.pokebola-semicirculo,
.pokebola-semicirculoinferior,
.pokebola-ciurculosuperior,
.circulo-central,
.circulo-centralmenor,
.circulo-centralbemmenor{
    background-color: #58585A;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: black;


}
.pokebola-semicirculo, .pokebola-semicirculoinferior{
    background-color: #EF4036;
    border-radius:300px 300px 0 0;
    height: 140px;
    width: 295px;
}
.pokebola-semicirculoinferior{
    background-color: white;
    border-radius:0 0 300px 300px;
    margin-top: 20px;
}
.pokebola-ciurculosuperior{
    height: 94px;
    width: 94px;
    background-color: rgba(253, 253, 253, 0.897);
    border-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 33px;
    border-radius: 94px 50px 94px 50px;
}
.circulo-central {
height:100px;
width: 100px;
position: absolute;
margin-left: 150px;
margin-top:none;
}
.circulo-centralmenor , .circulo-centralbemmenor{
    margin: 12px;
    height:70px;
    width: 70px;
    background-color: white;
}
.circulo-centralbemmenor{
    margin: 8px;
    height:50px;
    width: 50px;
    border-width:2px;
}
.pookedex-nav{
    background-color:#DC0A2D;
    width: 900px;
    height: 600px;
    margin:0px;
    padding: 0px;
}

.pokedex-base,
.pokedex-topo,
.pokedex-barra,
.pokedex-bordaTela,
.pokedex-tela{
    background-color:#DC0A2D;
    width: 450px;
    height: 600px;
    box-shadow: 0 6px 20px rgba(3, 3, 3, 0.5);
    display: inline-block;
    border-radius: 2% 2% 0% 2%;
    margin:0px;
    padding: 0px;
}

.pokedex-baseDireita{
    margin-left:25px;
}
.pokedex-topo{
    width: 450px;
    height: 100px;
    border-style: solid;
    border-width:2px;
    border-radius:0 5% 100% 0;
    box-shadow: 0 6px 20px rgba(3, 3, 3, 0.877);

}
.pokedex-baseLuzAzul,
.pokedex-luzAzul,
.pokedex-luzAzulInterna,
.pokedex-luzBranca{
    height:75px;
    width: 75px;
    border-width:2px;
    background-color: white;
    border-style:solid;
    border-radius:100%;
    border-width:2px;
}

.pokedex-luzAzul{
background-color: #1F83C2;
height:55px;
width: 55px;
margin: 5px;
}
.pokedex-luzAzulInterna,
.pokedex-luzBranca{
    background-color: #28AAFD;
    height:30px;
    width: 30px;
    margin: 5px;
    border-style: none;
    box-shadow: 0 6px 20px rgba(8, 8, 8, 0.267);
}
.pokedex-luzBranca{
    background-color: rgb(135, 200, 240);
    height:10px;
    width: 10px;
    margin: none;
}
.pokedex-bordaTela,
.pokedex-tela{
background-color: #DEDEDE;
width:350px;
height: 600px;
margin-top: 0px;
margin-left: 50px;
border-style: solid;
box-shadow: none;
border-radius:15px 15px 15px 45px;
border-width: 2px;
position: absolute;

}

.pokedex-tela{
    width:90%;
    height: 90%;
    margin:15px;
    background-color:#232323;

}
.pokedex-barra,
.pokedex-barraBrilho{
    width: 40px;
    height: 600px;
    border-style: solid;
    border-width:2px;
    position: absolute;
    border-radius: 5px;
    margin-right: 15px;
}
.pokedex-barraBrilho{
    background-color: rgba(247, 168, 179, 0.404);
    width: 30%;
    height: 600px;
    border-style: none;
    border-radius: 0;
}

#stats{
  padding-left: 100px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: white;
}

#tipos{
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: white;
  padding-left: 100px;

}

.weight{
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: white;
  padding-left: 100px;

}

.height{
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: white;
  padding-left: 100px;

}

.nome{
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 5em;


}

.thumb{
  padding-left: 95px;

}

#dadosPokemon{
  padding-top: 15px;

}

.form{
  margin-left: 125px;

}
