/* BANNER */
.banner1{
  height: 100vh; /*view port, vai pegar 100% da tela. quero que o banner sempre ocupe total da tela do usuario.*/
  color: #fff;
  position: static;
  background: url("../img/cascade.jpg") no-repeat center center fixed;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.banner2{
  height: 100vh; /*view port, vai pegar 100% da tela. quero que o banner sempre ocupe total da tela do usuario.*/
  color: #fff;
  position: static;
  background: url("../img/souk.jpg") no-repeat center center fixed;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.banner3{
  height: 100vh; /*view port, vai pegar 100% da tela. quero que o banner sempre ocupe total da tela do usuario.*/
  color: #fff;
  position: static;
  background: url("../img/mosque-sunset.jpg") no-repeat center center fixed;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.footer-nav{
  margin: 0;
  text-align:center;
  width: 100%;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #00003a 0%, #2989d8 98%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#00003a 0%,#2989d8 98%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e5799 0%,#00003a 0%,#2989d8 98%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.footer-nav a{
  text-decoration: none;
  color: #DDDCDB;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,00003a+0,2989d8+98,207cca+100,7db9e8+100 */

}

.footer-nav li{
  display:inline-block;
  padding: 0;
  width: 10%;
}

.link-footer:hover{
  font-size: 110%;
  text-shadow: .2px .2px .3px #DDDCDB;
}

.text-info{
  margin-top: 50px;
}


.banner-title{
  margin-bottom: 20px;
  font-size: 64px;
  float: left;
}

.banner:before { /*coloquei o gradiante aqui, fica mais facil para alterar*/
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /*para se estender sobre todo o banner*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,d1d1d1+0,83b4d3+100,207cca+100 */
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #d1d1d1 0%, #83b4d3 100%, #207cca 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#d1d1d1 0%,#83b4d3 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e5799 0%,#d1d1d1 0%,#83b4d3 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0.3;
}

.banner1 .table{
  position: relative;
  z-index: 2;

}

.banner1 p{
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-left: 50px;
  font-weight: bold;
}



.banner2 .table{
  position: relative;
  z-index: 2;
}

.banner2 p{
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}



.banner3 .table{
  position: relative;
  z-index: 2;
}

.banner3 p{
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

@media (max-width: 600px){
  .banner1 .table-cell{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner1 br{
    display: none;
  }

  .banner-title{
    font-size: 60px;
  }
}
