/* GENERAL */
/* códigos para sobrescrever os ja presentes*/
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; /*se nao tiver uma vai pra outra da virugla*/
  font-size: 16px;
  color: #333;
}

h1, h2, h3{
  margin: 0 0 15px; /* = margin: 0 0 0 0; nas 4 direçoes. em cima 0, dos lados 0, 15 embaixo.*/
}

a, input, textarea, button {
  text-decoration: none;
  }

nav ul { /*pega todas as uls dentro de uma nav. nav -> mae, ul -> filha*/
  padding: 0;
  margin: 0;
  list-style: none; /*tira as bolinhas. NAO OCUPAM ESPAÇO!! são só visuais*/
}

.text-blue{
  color: #0678A9
}

.text-yellow{
  color: #FFB700
}

.clearfix:after { /*USAR SEMPRE COM ELEMENTOS COM FLOAT NA CLASSE PAI!!*/
  content: "";
  display: table;
  clear: both;
}

.container{

  max-width: 980px; /*tenha sempre no maximo isso. se a tela for menor ele se adapta e estica verticalmente*/
  padding: 0 15px; /*vou usar depoois esse container, esse padding é pro conteudo nao ficar grudado nas laterais.*/
  margin: 0 auto; /* em cima e emabixo 0, esquerda e direita auto. Faz com que o conteudo do cabeçalho fique centralizado*/
  box-sizing: border-box;
}

.table{
  display: table;
  width: 100%; /*porcentagem assim ocupa o % da area do elemento pai, no caso o banner!*/
  height: 100%;
}

.table-cell{
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.no-banner{
  padding-top: 78px; /*empurra o texto para baixo do header. 78 é só clicar em inspecionar no header no navegador aparece largura x altura)*/
}

@media(max-width:600px){
  body.no-banner{  /*altera todos os no-banners especificos dentro de outras classes e tal.*/
    padding-top: 130px;
  }
}
