/* BANNER */
.banner1{
  height: 100vh; /*view port, vai pegar 100% da tela. quero que o banner sempre ocupe total da tela do usuario.*/
  color: #fff;
  position: static;
  background: url("../img/info.jpg") no-repeat center center fixed;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.footer-nav{
  margin-top: 200px;
  text-align:center;
  width: 100%;
}

.footer-nav a{
  text-decoration: none;
  color: #DDDCDB;
  font-weight: bold;

}

.link-footer:hover{
  font-size: 110%;
  text-shadow: .2px .2px .3px #DDDCDB;
}

.footer-nav li{
  display:inline-block;
  padding: 0;
  width: 10%;
}

.text-info{
  margin-top: 50px;
}


.banner-title{
  margin-bottom: 20px;
  font-size: 84px;

}

.banner:before { /*coloquei o gradiante aqui, fica mais facil para alterar*/
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /*para se estender sobre todo o banner*/
  background: -moz-linear-gradient(-45deg, rgba(208,228,247,1) 0%, rgba(6,120,169,1) 0%, rgba(255,183,0,1) 100%, rgba(135,188,234,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(208,228,247,1) 0%,rgba(6,120,169,1) 0%,rgba(255,183,0,1) 100%,rgba(135,188,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(208,228,247,1) 0%,rgba(6,120,169,1) 0%,rgba(255,183,0,1) 100%,rgba(135,188,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  opacity: 0.5;
}

.banner1 .table{
  position: relative;
  z-index: 2;

}

.banner1 p{
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 600px){
  .banner1 .table-cell{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner1 br{
    display: none;
  }

  .banner-title{
    font-size: 60px;
  }
}
