a {
  text-decoration: none;
  color: white;
}
  
  .btn {
    border-style: none;
    font-size: 1em;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;

  }
  
  .botoes {
    margin-top: 10px;
    text-decoration: none;

    
  }
  
  .botoes .btn {
    margin: 0 15px 0 15px;
    text-decoration: none;

  }
  