/*BUTTON*/
.button{
  padding: 15px 25px;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  border-radius: 12px;
  text-transform: uppercase;
  border: none;
  transition: background 0.3s ease-in-out 0s;
  cursor: pointer; /*fica com a maozinha de clicar */
}

.button-white{
    color: #0678A9;
    background: #fff;

}

.button-blue{
    color: #fff;
    background: #0678A9;
    font-size: 13px;
    line-height: 13px;
    border-radius: 20px;

}

.button-yellow{
  color: #fff;
  background: #FFB700;
}

.button-blue:hover{
  background: #FFB700;
}

.button-yellow:hover{
  background: #0678A9;
}
