.content {
  padding: 60px 60px;
  font-size: 16px;
  line-height: 16px;
  text-align: justify;
}

.content-column-1{
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 20px;
}

.content-column-2{
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
}

@media (max-width:600px){
  .content-column-1{
    float: none;
    padding: 0;
    width: 100%;

  }

  .content-column-2{
    float: none;
    padding: 0;
    width: 100%;
  }
}
