.no-banner{
  padding-top: 90px;
}

.texto-contato{
  float: left;
  padding: 10px;
}

.formulario{
  float: right;
  padding: 35px;
}

.campos-formulario{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 0;
}
.campos-formulario textarea {
  margin: 0;
  box-sizing: border-box;
}

.button-blue{
  float: right;
  text-align: left;
}

.titulo-contato{
  text-align: center;
}
