/* HEADER */
.header-top{

  width: 100%;
  padding: 15px 0; /*em cima e embaixo 15, esquerda e direita 0. So para deixar ele maior*/
  background: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3 /*opacidade o ultimo valor*/); /*x, y, desfoque.*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /*tao alto para ficar acima de tudo mesmo sempre*/
  }

.header-title{
  padding-top: 12px; /*para alinhar com o menu!*/
  margin: 0;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  float: left;
}
/*float faz com que o elemento PAI no caso o nav (nao percebe o float) fique com altura 0!*/

.header-menu{
  float: right;
}

.header-menu li{
    display: inline-block;
}

.header-menu a{
  display: inline-block;
  padding: 15px;
  color: #0678A9
}

@media (max-width: 600px){ /*de 0 ate 600px horizontal na pagina aplica o estilo que sera mencionado abaixo*/
  .header-title{
    float: none; /*vai pra cima*/
    text-align: center;
  }

  .header-menu{
    margin: 15px -15px 0; /*em cima, lados, embaixo*/
    text-align: center;
    float: none;

  }

  .header-menu li{
    width: 20%; /* 5 itens, cada um ocupa 20% do tamanho maximo*/
    float: left;
  }

  .header-menu a{
    padding: 10px;
    font-size: 12px;
  }

}
