/* HISTORIA */

.historia-imagem-esquerda{
  text-align: left;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  padding: 15px;
}

.historia-imagem-direita{
  text-align: right;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  padding: 15px;
}
.imagem-esquerda{
  height: 80px;
  margin: 30px 15px 15px 0;
  float: left;
}

.imagem-direita{
  height: 80px;
  margin: 30px 15px 15px 15px;
  float: right;
}

.no-banner{
  padding-top: 90px;
}
