/* PRODUTOS */

.products-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.products-list li{
  padding: 15px;
}

.products-list div{
  padding: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  text-align: center;
}
