/* SERVIÇOS */
.no-banner{
  padding-top: 90px;
}

.img-servicos{
  height: 180px;
  margin: 0 15px 15px 0;
  float: left;
  position: relative;
}

.paragraph-servicos{
  .text-align: justify;

}

.servicos-1{
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 26px rgba(0,0,0,0.2);
}

.section-servicos h3{
  font-size: 22px;
}
