.banner{
  height: 100vh;
  color: #fff;
  position: relative;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0,0,0,0.5)
}
.banner:before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left:0;
  opacity: 0.7;
  background: -moz-linear-gradient(top, #fe7213 0%, #0a0605 100%);
  background: -webkit-linear-gradient(top, #fe7213 0%,#0a0605 100%);
  background: linear-gradient(to bottom, #fe7213 0%,#0a0605 100%); 
}
.banner .table{
position: relative;
  z-index: 2;
}
.banner-title{
margin-bottom: 20px;
font-size: 84px;

}
.banner p{
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width:610px){
.banner .table-cell{
  padding-left: 15px;
  padding-right: 15px;
}
.banner br{
  display: none;
}
.banner-title{
  font-size: 60px;
}

}
