.no-banner{
  padding-top: 100px;
}
.div1 img, .div2 img{
  width: 360px;
  height: 250px;
  padding: 15px;
  box-sizing: border-box;
}
.list{
  list-style: none;
  text-align: center;
}
.list h3{
color: #B32626;
font-family: sans-serif;
}
