.div1{
float: left;
width: 50%;
padding: 15px;
box-sizing: border-box;
}
.div-title{
  padding: 4px;
  color: #FE7213;
}
.div2{
float: left;
width: 50%;
padding: 15px;
box-sizing: border-box;
}
.content{
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width:610px){
.div1 {
  width: 100%;
  text-align: center;
}
.div2 {
  width: 100%;
  text-align: center;
}
.div-title{
  text-align: center;
}
}
