.App {
  text-align: center;
}



.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
 }
 
 .vermelho {
  background-color: red;
  border-color: red;
  color: white;
 }

 .azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}
 



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


