/*CONTATOS*/
.no-banner{
  padding-top: 150px;
}
.texto-contato{
  display: inline-block;
  width: 50%;

}
.texto-contato p{
  width:50%;
}
.form-contato{
  display: inline-block;
  width: 50%;
  float: right;
}
.form-contato input, textarea{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 470px;
  height: 30px;
}
.form-contato label{
  color:#B32626;
}
 .button-form input{
  width: 90px;
  height: 40px;
  float: right;
  border-radius: 12px;
  color:#B32626;
}
.form-contato textarea{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 470px;
  height: 100px;
}
h2{
  color: #F57878;
}
@media (max-width:610px){
.texto-contato {
  width: 100%;
  text-align: center;
}
.form-contato {
  width: 100%;
  text-align: center;
}

}
